page-colgate-inn-profile {
  #profileimg {
    border-radius: 50%;
    width: 65%;
    height: auto;
    display: inline-block;
    margin-left: 14%;
  }
  #partners{
    float: right;
    position: absolute;
    bottom: 4%;
    right: 5%;
  }
  #chatIcon{
    color: #f2994a;
    font-size: 250%;
    position: absolute;
    bottom: 0;
    left: 6%;
  }
  #profContainer{
    width:100%;
  }
  #partnerText{
    text-align: center;
  }
  .galleryPic{
    width: 49%;
    display: inline;
    border-radius: 5%;
  }
  .locationText{
    text-align: center;
  }
  .button{
    position: fixed;
    right: 5%;
    top: 40;
  }
}
