login-page {

}

ion-content{
  background-image: url('../assets/imgs/login.jpg');
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  text-align: center;
  margin-top: 20%;
}

h3{
  color: #f2994a;
  text-shadow: 2px 2px black;
  font-size: 4em;
  font-family: 'Bree Serif';
  font-weight: bold;
}

#create{
  background: #6aa365;
}

#login{
  background: #6aa365;
}
