login-page {
  html,body {
    width: 100%;
    height: 100%;
  }
}



#loginpage {
  background-image: url('../assets/imgs/login.jpg');
  text-align: center;
  margin-top: 20%;
}

#title-login {
  color: #f2994a;
  text-shadow: 2px 2px black;
  font-size: 4em;
  font-family: 'Bree Serif';
  font-weight: bold;
}

.loginbutton{
  background: #6aa365;
  margin-top: 5vw;
}
