<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="text-align:center;">
    <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)"> -->
    <button ion-button round color="light" *ngFor="let item of items" (click)="itemTapped($event, item)" style="border-radius:10px;padding:40px;margin-left:5px;margin-right:5px;margin-top:10px;width:93%;">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
    <button ion-button round color="light" (click)="goToLogin()" style="border-radius:10px;padding:40px;margin-left:5px;margin-right:5px;margin-top:10px;width:93%;">
      Sign Out
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>

</ion-content>
